In [2]:
import geopandas as gpd
from shapely.geometry import Point
import pandas as pd


uber_df = pd.read_csv("uber-raw-data-sep14.csv")
uber_df.describe()

                Lat           Lon
count  1.028136e+06  1.028136e+06
mean   4.073922e+01 -7.397182e+01
std    4.082861e-02  5.831413e-02
min    3.998970e+01 -7.477360e+01
25%    4.072040e+01 -7.399620e+01
50%    4.074180e+01 -7.398310e+01
75%    4.076120e+01 -7.396280e+01
max    4.134760e+01 -7.271630e+01